/* .contenido-capitulo, */
.container__info-ad {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
  }
  
  /* .miniatura, */
  .miniatura-info-ad {
    grid-row: 1 / span 2;
    grid-column: 1 / span 1;
  }
  
  /* .sinopsis, */
  .sinopsis-info-ad {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
  }
  
  /* Estilos del slider */
  .slider {
    display: flex;
    overflow: hidden;
  }
  
  .slide {
    min-width: 100%;
  }
  
  .slide img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease-in-out;
  }