* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}
.container-parrilla {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* width: 100vw; */
}
.parrilla-left {
    background-color: gray;
    width: 15%;
    text-align: center;
}
.parrilla-right {
    background-color: gray;
    width: 15%;
    text-align: right;
}
.parrilla {
    background-color: aquamarine;
}