/* Estilos previos al slider */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.contenido-capitulo {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.miniatura {
  grid-row: 1 / span 2;
  grid-column: 1 / span 1;
}

.sinopsis {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
}

/* Estilos del slider */
.slider {
  display: flex;
  overflow: hidden;
}

.slide {
  min-width: 100%;
}

.slide img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease-in-out;
}
