/* estilos para pagina de capitulo */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Overpass', sans-serif;
}

/* ESTILOS CONTENIDO DE CAPITULO */
.parrilla--section__main,
.main-container-capitulo {
  display: flex;
  flex-direction: column;
  /* width: 100vw; */
}
.main-container-capitulo {
  height: 100vh;
}
.parrilla--section__main {
  height: 70vh;
}
.section__main-content,
.content-container-capitulo {
  display: flex;
  width: 100%;
  max-height: 100%;
}
.section__main--left,
.section__main--right,
.left-stripe,
.right-stripe {
  /* width: 15%; */
  width: 30%;
  height: 100%;
  text-align: center;
}
.section__main--left img,
.left-stripe img {
  height: 80%;
}
.section__main--right img,
.right-stripe img {
  width: 100%;
}
/* .section__main--center {} */
.content-capitulo {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr; */
  width: 70%;
}

/* parrilla */
.texto-inicial,
.texto-final {
    display: flex;
    height: 15%;
    padding: 0 20px;
    align-items: center;
    font-weight: 500;
    font-size: 1.6rem;
  }
  .texto-inicial p {
    align-content: center;
    padding-top: 20px;
  }
  .texto-final {
    justify-content: flex-end;
  }
  
.capitulos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 40px;
  padding: 20px;
}
.capitulo {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}
.capitulo img {
  width: 100%;
  display: block;
}
.titulo,
.sinopsis {
  padding: 0 10px;
  font-weight: 700;
  text-align: center;
}
.sinopsis {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
}
.titulo {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.capitulo:hover {
  cursor: pointer;
}

.capitulo:hover .sinopsis {
  opacity: 1;
}
.capitulo:hover .titulo {
  opacity: 1;
}

/* seccion menu miniaturas  */
.container__capitulos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 40px;
  padding: 20px;
}
.capitulo__item-menu {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.capitulo__item-menu a img {
  width: 100%;
  display: block;
}
/* fin seccion menu miniauturas */
.submenu-capitulos {
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  display: none;
  z-index: 1000;
}
/* fin parrilla */

.content-capitulo-row1 {
  display: flex;
  padding-top: 40px;
}
.video-capitulo {
  text-align: center;
}
.video-capitulo iframe {
  background-color: #333;
  /* min-width: 560px;
  min-height: 315px; */
  border-radius: 10px;
}
.botones-next-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}
.botones-next-preview
.a-button {
  display: flex;
  align-items: center;
  height: 30px;
  margin: auto 20px;
}
.botones-next-preview
.a-button img {
  height: 30px;
}
.a-button:hover {
  opacity: 0.5;
  color: #fff;
}
.texto-capitulo {
  padding: 0 20px;
}
.texto-capitulo p {
  text-align: justify;
}
.galeria {
  display: flex;
  justify-content: space-around;
  margin-top: 35px;
}
.galeria-item {
  margin: 10px;
  border-radius: 15px;
}
.galeria-item img {
  width: auto;
  height: 150px;
  margin: 5px;
  border-radius: 15px;
}
.galeria-item img:hover {
  margin: 10px;
  height: 180px;
  transition: all 0.7s ease;
}

.footer-container-capitulo {
  min-height: 45%;
  background-image: url('/images/banner_de_informacion.png');
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  /* estilos */
  display: flex;
  justify-content: flex-end;
}
.container-btn-contacto,
.container-menu-footer {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: end;
  width: 100%;
  height: 100%;
  padding: 0 150px;
  text-align: center;
}
.container-menu-footer a,
.container-btn-contacto a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
}
.logo-cinecultivo,
.logo-alcaldia {
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
}
.logo-cinecultivo img,
.logo-alcaldia img {
  height: 80px;
  margin-right: 20px;
}
.link-contacto,
.link-menu {
  height: 60px;
}
.btn-link-menu,
.btn-link-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 120px;
  border-radius: 5px;
  text-transform: uppercase;
}
.btn-link-contacto {
  /* color: #399EFF; */
  color: #2494FF;
}
/* .btn-link-menu {
  height: 40px;
} */
.btn-link-menu img {
  height: 40px;
  transition: transform 0.9s ease;
}
.btn-link-menu:hover{
  transform: rotate(-20deg);
}
/* .btn-link-menu:hover, */
.btn-link-contacto:hover {
  color: #8CC9EA;
  /* opacity: 0.9; */
  border: 4px solid #8CC9EA;
}
/* .link-menu {
  color: #333;
} */
/* FIN ESTILOS CONTENIDO DE CAPITULO */
.main-container-contacto {
  display: flex;
  flex-direction: column;
}
.container-contacto {
  display: flex;
  flex-direction: column;
  height: 65vh;
  justify-content: center;
  align-items: center;
}
.footer-container-contacto {
  background-image: url('/images/banner_de_informacion.png');
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 30vh;
  display: flex;
  justify-content: flex-end;
}

/* @media screen and (min-width: 426px) and (max-width: 768px) { */
  /* @media screen and (min-width: 768px) and (max-width: 1023px) {
  .main-container-capitulo {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
  }
  .left-stripe,
  .right-stripe {
    display: none;
  }
  .content-capitulo {
    padding: 20px;
    width: 100vh;
  }
  .content-capitulo-row1{
    flex-direction: column;
    padding: 0;
  }
} */
/* @media screen and (min-width: 426px) and (max-width: 768px) {
  .capitulos {
    grid-template-columns: repeat(3, 1fr);
  }
  .section__main--left,
  .section__main--right {
    width: 15%;
  }
} */

/* @media screen and (max-width: 425px) */
/* @media screen and (min-width: 320px) and (max-width: 974px) { */
  @media screen and (min-width: 320px) and (max-width: 768px) {
  body {
    font-size: 1rem;
  }

  h1 {
    font-size: 1.5rem;
    text-align: left;
    margin: 10px 0;
  }
  h3 {
    margin-top: 15px;
  }
  .section__main,
  .parrilla--section__main,
  .main-container-capitulo {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
  }

  /* .section__main {
    display: block;
    max-height: 0;
  } */

  .section__main--center {
    width: 100%;
  }
  .capitulos {
    grid-template-columns: 1fr;
    padding-top: 20px;
  }
  .section__main--left,
  .section__main--right,
  .left-stripe,
  .right-stripe {
    display: none;
  }
  .content-capitulo {
    /* padding: 20px; */
    width: 100vh;
  }
  .content-capitulo-row1{
    flex-direction: column;
    padding: 0;
  }
  .video-capitulo iframe {
    width: 300px;
  }

  .galeria {
    flex-direction: column;
    /* sombra */
    display: inline-block;
    perspective: 1000px;
  }
  .galeria-item img {
    /* width: 250px;
    height: auto; */
    /* sombra */
    display: block;
      width: 100%;
      height: auto;
      transition: transform .5s;
      backface-visibility: hidden;
  }
  .galeria-item img:hover {
    /* width: 255px; */
    border: 5px solid #F9C232;
    transition: all 0.7s ease;
    /* sombra */
    transform: translateY(-10px);
  }

  /* .footer-container-capitulo {
    width: 100%;
  } */
  .container-menu-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    margin-bottom: 50px;
    justify-content: center;
    /* flex-direction: column;
    justify-content: center; */
  }
  .texto-inicial {
    height: auto;
  }
  .texto-final {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 50px;
    height: auto;
  }
  .btn-contacto {
    height: 25px;
    width: 80px;
    border-radius: 4px;
    text-transform: uppercase;
  }
  .container-btn-contacto a {
    font-size: 12px;
  }
  .btn-contacto:hover {
    /* background-color: #1C9838; */
    opacity: 0.9;
    border: 2px solid #075319;
  }

  .container-contacto {
    height: 60vh;
    padding: 20px;
    align-items: center;
    text-align: center;
  }
  .container-contacto h1 {
    text-align: center;
  }
  .footer-container-contacto {
    height: 50vh;
    padding-bottom: 50px;
  }
  /* .footer-container-capitulo {
    background-color: red;
    height: auto;
  } */
}