/* estilos para pagina de capitulo */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Overpass', sans-serif;
}

/* ESTILOS CONTENIDO DE CAPITULO */

.main-container-capitulo {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.content-container-capitulo {
  display: flex;
  width: 100%;
  max-height: 100%;
}
.left-stripe,
.right-stripe {
  width: 15%;
  height: 100%;
  text-align: center;
}
.left-stripe img {
  height: 80%;
}
.right-stripe img {
  width: 100%;
}
.content-capitulo {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr; */
  width: 70%;
}
.content-capitulo-row1 {
  display: flex;
  padding-top: 40px;
}
.video-capitulo {
  text-align: center;
}
.video-capitulo iframe {
  background-color: #333;
  /* min-width: 560px;
  min-height: 315px; */
  border-radius: 10px;
}
.texto-capitulo {
  padding: 0 20px;
}
.texto-capitulo p {
  text-align: justify;
}
.galeria {
  display: flex;
  justify-content: space-around;
  margin-top: 35px;
}
.galeria-item {
  margin: 10px;
  border-radius: 15px;
}
.galeria-item img {
  width: auto;
  height: 150px;
  margin: 5px;
  border-radius: 15px;
}
.galeria-item img:hover {
  margin: 10px;
  height: 180px;
  transition: all 0.7s ease;
}
.footer-container-capitulo {
  min-height: 40%;
  background-image: url('/images/banner_de_informacion.png');
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  /* estilos */
  display: flex;
  justify-content: flex-end;
}
.container-btn-contacto,
.container-menu-footer {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: end;
  width: 100%;
  height: 100%;
  padding: 0 150px;
  text-align: center;
}
.container-menu-footer a,
.container-btn-contacto a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
.link-contacto,
.link-menu {
  height: 60px;
}
.btn-link-menu,
.btn-link-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 120px;
  border-radius: 4px;
  text-transform: uppercase;
}
.btn-link-contacto {
  background-color: #1C9838;
}
.btn-link-menu {
  background-color: #96492A;
}
.btn-link-menu:hover,
.btn-link-contacto:hover {
  /* background-color: #1C9838; */
  opacity: 0.9;
  border: 2px solid #075319;
}
/* .link-menu {
  color: #333;
} */
/* FIN ESTILOS CONTENIDO DE CAPITULO */
.main-container-contacto {
  display: flex;
  flex-direction: column;
}
.container-contacto {
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
  align-items: center;
}
.footer-container-contacto {
  height: 30vh;
  background-image: url('/images/banner_de_informacion.png');
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: flex-end;
}

/* @media screen and (min-width: 426px) and (max-width: 768px) {
  .main-container-capitulo {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
  }
  .left-stripe,
  .right-stripe {
    display: none;
  }
  .content-capitulo {
    padding: 20px;
    width: 100vh;
  }
  .content-capitulo-row1{
    flex-direction: column;
    padding: 0;
  }
} */

/* @media screen and (max-width: 425px) */
@media screen and (min-width: 320px) and (max-width: 768px) {
  body {
    font-size: 1rem;
  }

  h1 {
    font-size: 1.5rem;
    text-align: left;
    margin: 10px 0;
  }
  h3 {
    margin-top: 15px;
  }
  .main-container-capitulo {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
  }

  .left-stripe,
  .right-stripe {
    display: none;
  }
  .content-capitulo {
    padding: 20px;
    width: 100vh;
  }
  .content-capitulo-row1{
    flex-direction: column;
    padding: 0;
  }
  .video-capitulo iframe {
    width: 300px;
  }
  .galeria {
    flex-direction: column;
  }
  .galeria-item img {
    width: 250px;
    height: auto;
  }
  .galeria-item img:hover {
    width: 255px;
    border: 1px solid #F9C232;
    transition: all 0.7s ease;
  }
  .footer-container-capitulo {
    width: 100%;
  }
  .btn-contacto {
    height: 25px;
    width: 80px;
    border-radius: 4px;
    text-transform: uppercase;
  }
  .container-btn-contacto a {
    font-size: 12px;
  }
  .btn-contacto:hover {
    /* background-color: #1C9838; */
    opacity: 0.9;
    border: 2px solid #075319;
  }
  .container-contacto {
    padding: 20px;
    align-items: center;
    text-align: center;
  }
  .container-contacto h1 {
    text-align: center;
  }
  .footer-container-contacto {
    height: 15vh;
  }
}