* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Overpass', sans-serif;
}

/* ESTILOS CONTENIDO DE CAPITULO */
.main-container-contacto,
.parrilla--section__main,
.main-container-capitulo {
  display: flex;
  flex-direction: column;
  /* width: 100vw; */
}
.header__menu--logo-popayan {
  display: none;
}
.main-container-capitulo {
  height: 100vh;
}
.parrilla--section__main {
  height: 70vh;
}
.section__main-content,
.content-container-capitulo {
  display: flex;
  width: 100%;
  max-height: 100%;
}
.section__main--left,
.section__main--right,
.left-stripe,
.right-stripe {
  /* width: 15%; */
  width: 30%;
  height: 100%;
  text-align: center;
}
.section__main--left img,
.left-stripe img {
  height: 80%;
}
.section__main--right img,
.right-stripe img {
  width: 100%;
}
/* .section__main--center {} */
/* .section__main--center, */
.content-capitulo {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr; */
  width: 70%;
}

/* parrilla */
.texto-inicial,
.texto-final {
    display: flex;
    height: 15%;
    padding: 0 20px;
    align-items: center;
    font-weight: 500;
    font-size: 1.6rem;
    cursor: context-menu;
  }
  .texto-inicial p {
    align-content: center;
    padding-top: 20px;
  }
  .texto-final {
    justify-content: flex-end;
  }

.capitulos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* grid-gap: 40px; */
  /* padding: 20px; */
  /* ajustes */
  grid-gap: 15px;
  margin: 20px 0;
}
.capitulo {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}
.capitulo img {
  width: 100%;
  display: block;
}
.titulo,
.sinopsis {
  padding: 0 10px;
  font-weight: 700;
  text-align: center;
}
.sinopsis {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
}
.titulo {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.capitulo:hover {
  cursor: pointer;
}

.capitulo:hover .sinopsis {
  opacity: 1;
}
.capitulo:hover .titulo {
  opacity: 1;
}

/* seccion menu miniaturas  */
.container__capitulos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 40px;
  padding: 20px;
}
.capitulo__item-menu {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.capitulo__item-menu a img {
  width: 100%;
  display: block;
}
/* fin seccion menu miniauturas */
.submenu-capitulos {
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  display: none;
  z-index: 1000;
}
/* fin parrilla */

.content-capitulo-row1 {
  display: flex;
  padding-top: 40px;
}
.video-capitulo {
  text-align: center;
}
.video-capitulo iframe {
  background-color: #333;
  /* min-width: 560px;
  min-height: 315px; */
  border-radius: 10px;
}
.botones-next-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}
.botones-next-preview
.a-button {
  display: flex;
  align-items: center;
  height: 30px;
  margin: auto 20px;
}
.botones-next-preview
.a-button img {
  height: 30px;
}
/* .a-button:hover {
  opacity: 0.5;
  color: #fff;
} */
.texto-capitulo {
  padding: 0 20px;
}
.texto-capitulo p {
  text-align: justify;
}

.galeria {
  display: flex;
  justify-content: space-around;
  margin-top: 35px;
}
.galeria-item {
  margin: 10px;
  border-radius: 15px;
}
.galeria-item img {
  width: auto;
  height: 150px;
  margin: 5px;
  border-radius: 15px;
}
.galeria-item img:hover {
  margin: 10px;
  height: 180px;
  transition: all 0.7s ease;
}

.footer-container-contacto,
.footer-container-capitulo {
  min-height: 45%;
  background-image: url('/images/banner_de_informacion.png');
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  /* estilos */
  display: flex;
  justify-content: flex-end;
}
.container-btn-contacto,
.container-menu-footer-contacto,
.container-menu-footer {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: end;
  width: 100%;
  /* height: 100%; */
  /* height: 40vh; */
  padding: 0 150px;
  text-align: center;
}
.container-menu-footer {
  height: 100%;
  /* margin-bottom: 50px;
  padding-bottom: 10px; */
}
.container-menu-footer-contacto {
  height: 40vh;
}

.container-menu-footer-contacto a,
.container-menu-footer a,
.container-btn-contacto a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
}
.logo-cinecultivo,
.logo-alcaldia {
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
}
.logo-cinecultivo img,
.logo-alcaldia img {
  /* height: 80px; */
  height: 60px;
  /* margin-right: 20px; */
  margin-bottom: 25px;
}
.link-contacto,
.link-menu {
  height: 60px;
  margin-bottom: 10px;
}
.btn-link-menu,
.btn-link-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  /* width: 120px; */
  border-radius: 5px;
  text-transform: uppercase;
}
.btn-link-contacto {
  color: #000;
}
/* .btn-link-rrss {
  background-color: #000;
  height: 100px;
} */
/* .btn-link-menu {
  height: 40px;
} */
.btn-link-contacto img,
.btn-link-menu img {
  height: 40px;
  transition: transform 0.9s ease;
}
.a-button:hover,
.btn-link-contacto:hover,
.btn-link-menu:hover{
    /* transform: rotate(-20deg); */
    opacity: 0.5;
    color: #fff;
}

/* NAV RRSS */
.nav-rrss {
  position: fixed;
  right: 0;
  top: 50%;
  opacity: .7;
  transform: translateY(-50%);
}

.nav-rrss__item {
  display: block;
  margin: 10px 5px;
}
.nav-rrss__item img {
  width: 30px;
}

.nav-rrss__item:hover img {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.nav__rrss--mobile {
  display: none;
}
/* end NAV RRSS */

/* FIN ESTILOS CONTENIDO DE CAPITULO */
/* .main-container-contacto {
  display: flex;
  flex-direction: column;
} */
.container-contacto {
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: center;
  align-items: center;
}
/* .footer-container-contacto {
  min-height: 40vh;
  background-image: url('/images/banner_de_informacion.png');
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: flex-end;
} */

/* Popup para la imagen ampliada */
.popup {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.contenido-popup {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.cerrar {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.btn-izquierda, .btn-derecha {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.btn-derecha {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* @media screen and (min-width: 426px) and (max-width: 768px) { */
@media screen and (min-width: 1021px) and (max-width: 1110px) {
  .video-capitulo iframe {
    width: 300px;
  }
}

/* @media screen and (min-width: 320px) and (max-width: 768px) { */
  @media screen and (min-width: 320px) and (max-width: 1020px) {
  .off-on-mobile {
    display: none;
  }
  body {
    font-size: 1rem;
  }

  h1 {
    font-size: 1.5rem;
    text-align: left;
    margin: 10px 0;
  }
  h3 {
    margin-top: 15px;
  }
  .section__main,
  .parrilla--section__main,
  .main-container-capitulo {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
  }
  .header__menu--logo-popayan {
    display: flex;
    justify-content: center;
  }
  .header__menu--logo-popayan img {
    width: 75vw;
    margin-top: 25px;
  }

  .section__main--center {
    width: 100%;
    padding: 0 15px;
  }
  .capitulos {
    grid-template-columns: 1fr;
    padding-top: 20px;
  }
  
  .capitulo .sinopsis,
  .capitulo .titulo {
    background: none;
    opacity: 1;
    padding-top: 70px;
    text-shadow: -3px 4px 2px rgba(0, 0, 0, 0.8);
  }

  .section__main--left,
  .section__main--right,
  .left-stripe,
  .right-stripe {
    display: none;
  }
  .content-capitulo {
    /* padding: 20px; */
    width: 100vh;
  }
  .content-capitulo-row1{
    flex-direction: column;
    padding: 0;
  }
  .video-capitulo iframe {
    width: 300px;
  }

  /* .galeria {
    flex-direction: column;
    display: inline-block;
    perspective: none;
  } */
  /* .galeria-item img {
    margin: 0;
    display: block;
      width: 100%;
      height: auto;
      backface-visibility: hidden;
      transition: none;
  } */
  .galeria-item img:hover {
    margin: 0;
    height: auto;
    transition: none;
    transform: none;
  }
 /* slider fotos */
 .galeria {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  /* otros estilos */
  perspective: none;
  justify-content: space-between;
}

.galeria-item {
  flex: none;
  width: 100%;
  scroll-snap-align: start;
}

.galeria img {
  width: 100%;
  height: auto;
  display: block;
}

/* Ocultar el popup en móviles */
#popupImagen {
  display: none;
}

  .container-menu-footer-contacto,
  .container-menu-footer {
    display: grid;
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; */
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
    justify-content: center;
    /* flex-direction: column; */
  }
  .container-menu-footer-contacto a,
  .container-menu-footer a {
    justify-content: center;
  }
  .texto-inicial {
    height: auto;
  }
  .texto-inicial p,
  .texto-final p {
    text-align: justify;
  }
  .texto-final {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 50px;
    height: auto;
  }
  .btn-contacto {
    height: 25px;
    width: 80px;
    border-radius: 4px;
    text-transform: uppercase;
  }
  .container-btn-contacto a {
    font-size: 12px;
  }
  .btn-contacto:hover {
    /* background-color: #1C9838; */
    opacity: 0.9;
    border: 2px solid #075319;
  }

  .container-contacto {
    /* height: 60vh; */
    padding: 20px;
    align-items: center;
    text-align: center;
  }
  .container-contacto h1 {
    text-align: center;
  }
  .footer-container-contacto {
    /* height: 50vh; */
    height: 85vh;
    /* padding-bottom: 50px; */
    padding-bottom: 20px;
  }

  .main-container-contacto
  .container-contacto img {
    display: none;
  }
  /* .footer-container-capitulo {
    background-color: red;
    height: auto;
  } */
  .nav-rrss {
    display: none;
  }
  .nav__rrss--mobile {
    display: flex;
    justify-content: space-around;
    opacity: .9;
  }
  .nav__rrss--mobile img {
    height: 30px;
  }
}