:root {
    --color-cultural: #e30d7e;
    --color-religioso: #a1492a;
    --color-gastronomico: #fac332;
    --color-experiencial: #97d4f5;
    --color-natural: #1ca338;
    --color-deportivo: #1761e2;
    --color-fondo-naranja: #d47600;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .main{
    flex-grow: 1;
  }

  .menu-principal {
    list-style: none;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .menu-principal li {
    margin-right: 20px;
  }
  
  .submenu {
    position: relative;
    /* activar menu */
    display: none;
  }
  
  .submenu-capitulos {
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    display: none;
    z-index: 1000;
  }
  
  .submenu:hover .submenu-capitulos {
    display: block;
  }

  .return-menu {
    text-align: right;
  }

  /* menú principal de capítulos */
  .section__main {
    display: flex;
    /* flex-grow: 1; */
  }
  .section__main--left {
    width: 15%;
    text-align: center;
  }
  .section__main--left img {
    width: 50%;
  }
  .section__main--right {
    background-color: #1761e2;
    display: flex;
    justify-content: right;
    width: 15%;
  }
  .section__main--right img {
    width: 100%;
  }
  .franja-header {
    height: 100%;
    padding: 20px;
  }
  .franja-header img {
    height: 100px;
  }
.capitulos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 40px;
    padding: 100px 20px 0 20px;
  }
.capitulo {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
  }  
  .capitulo img {
    width: 100%;
    /* height: auto; */
    display: block;
  }
  .sinopsis {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .capitulo:hover .sinopsis {
    opacity: 1;
  }

  /* seccion menu miniaturas  */
  .container__capitulos {
    /* width: 80%; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 40px;
    padding: 20px;
  }
  .capitulo__item-menu {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
  }  

  .capitulo__item-menu a img {
    width: 100%;
    /* height: auto; */
    display: block;
  }

/* fin seccion menu miniauturas */

  .footer {
    background-color: #fff;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer__banner--container {
    height: 10%;
  }
  .footer__banner--link .footer__banner {
    width: 100vw;
  }

  /* contenido extra */
  .contenido-capitulo-ad {
    /* background-color: #EEBB33; */
    display: flex;
    column-gap: 10px;
    /* align-items: center; */
  }
  .contenido-capitulo-ad h1 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .miniatura-ad {
    padding: 10px;
  }
  .sinopsis-ad {
    padding: 0 20px;
    text-align: justify;
  }
  .sinopsis-ad h2 {
    margin-top: 15px;
    text-align: end;
    color: #333;
  }
  .galeria-ad {
    background-color: #EEBB33;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }
  
  .galeria-ad img{
    max-width: 400px;
    /* width: 25px; */
    padding: 1rem;
  }


  @media screen and (min-width: 768px) and (max-width: 1080px) {
    .capitulos {
      grid-template-columns: repeat(3, 1fr);
    }
      /* contenido extra */
      /* .contenido-capitulo-ad {
        text-align: justify;
        padding: 25px;
      } */
  }
  
  @media screen and (max-width: 767px) {
    .capitulos {
      grid-template-columns: 1fr;
    }

      /* contenido extra */
    .contenido-capitulo-ad {
      flex-direction: column;
      text-align: justify;
      padding: 25px;
    }
    .miniatura-ad {
      width: 100%;
    }
  }
  