* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .menu-principal {
    list-style: none;
    display: flex;
    align-items: center;
    position: relative;
  }

  .menu-principal li {
    margin-right: 20px;
  }

  .submenu {
    position: relative;
    /* activar menu */
    display: none;
  }

  .submenu-capitulos {
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    display: none;
    z-index: 1000;
  }

  .submenu:hover .submenu-capitulos {
    display: block;
  }

  .return-menu {
    text-align: right;
  }

  /* menú principal de capítulos */
  .section__main {
    display: flex;
    max-height: 70vh;
  }
  .section__main--left,
  .section__main--right {
    width: 30%;
  }
  /* seccion del menu de capitulos */
  .section__main--center {
    background-color: #fff;
  }
  .section__main--left {
    text-align: center;
  }
  .section__main--right {
    text-align: end;
  }
  .section__main--left img {
    height: 40%;
  }
  .section__main--right img {
    width: 100%;
  }

.capitulos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 40px;
    padding: 100px 20px 0 20px;
  }
.capitulo {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
  }
  .capitulo img {
    width: 100%;
    display: block;
  }
  .sinopsis {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .capitulo:hover .sinopsis {
    opacity: 1;
  }

  /* seccion menu miniaturas  */
  .container__capitulos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 40px;
    padding: 20px;
  }
  .capitulo__item-menu {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
  }

  .capitulo__item-menu a img {
    width: 100%;
    display: block;
  }
/* fin seccion menu miniauturas */


/* pagina de capitulo */
.pagina-de-capitulo {
  display: flex;
  width: 70%;
}
.container_video--capitulo,
.container_info--capitulo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  /* background-color: #fff; */
}
.container_video--capitulo {
  border-radius: 5px;
}
.container_info--capitulo {
  flex-direction: column;
  padding: 20px;
}
.container_info--capitulo h1 {
  margin-bottom: 20px;
}
.container_info--capitulo p {
  text-align: justify;
}
/* .container_video--capitulo iframe {
  width: 100%;
} */
/* fin pagina de capitulo */
.contenido-capitulo-ad {
  display: flex;
  column-gap: 10px;
}
.contenido-capitulo-ad h1 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.miniatura-ad {
  padding: 10px;
}
.sinopsis-ad {
  padding: 0 20px;
  text-align: justify;
}
.sinopsis-ad h2 {
  margin-top: 15px;
  text-align: end;
  color: #333;
}
.galeria-ad {
  background-color: #EEBB33;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.galeria-ad img{
  max-width: 400px;
  padding: 1rem;
}


/* footer */

  .footer {
    background-color: #fff;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer__banner--container {
    margin-top: 10px;
    height: 10%;
    position: relative;
    bottom: 0;
  }
  .footer__banner--link .footer__banner {
    width: 100vw;
  }

  @media screen and (min-width: 768px) and (max-width: 1080px) {
    .capitulos {
      grid-template-columns: repeat(3, 1fr);
    }
    .section__main--left,
    .section__main--right {
      width: 20%;
    }
  }

  @media screen and (max-width: 767px) {
    .capitulos {
      grid-template-columns: 1fr;
      padding-top: 20px;
    }

      /* contenido extra */
      .pagina-de-capitulo{
        flex-direction: column;
      }
    .contenido-capitulo-ad {
      flex-direction: column;
      text-align: justify;
      padding: 25px;
    }
    .miniatura-ad {
      width: 100%;
    }

    .section__main {
      display: block;
      max-height: 0;
    }
    /* laterales */
    .section__main--left,
    .section__main--right {
      display: none;
    }
    .container_info--capitulo,
    .container_video--capitulo {
      width: 100vw;
    }

    .footer__banner--container {
      /* margin-top: 10px; */
      /* height: 10%; */
      position: absolute;
      margin-top: 15px;
      /* bottom: 0; */
    }
  }
