/* font-family: 'Overpass', sans-serif; */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* html {
  font-family: 'Overpass', sans-serif;
} */
  body {
    font-family: 'Overpass', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .menu-principal {
    list-style: none;
    display: flex;
    align-items: center;
    position: relative;
  }

  .menu-principal li {
    margin-right: 20px;
  }

  .submenu {
    position: relative;
    /* activar menu */
    display: none;
  }

  .submenu-capitulos {
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    display: none;
    z-index: 1000;
  }

  .submenu:hover .submenu-capitulos {
    display: block;
  }

  .return-menu {
    text-align: right;
  }

  /* menú principal de capítulos */
  .section__main {
    display: flex;
    max-height: 70vh;
  }
  .section__main--left,
  .section__main--right {
    width: 30%;
  }
  /* seccion del menu de capitulos */
  .section__main--center {
    background-color: #fff;
  }
  .texto-inicial,
  .texto-final {
    /* background-color: #EEBB33; */
    display: flex;
    height: 15%;
    padding: 0 20px;
    align-items: center;
    font-weight: 500;
    font-size: 1.6rem;
  }
  .texto-inicial p {
    align-content: center;
    padding-top: 20px;
  }
  .texto-final {
    justify-content: flex-end;
  }
  .section__main--left {
    text-align: center;
  }
  .section__main--right {
    text-align: end;
  }
  .section__main--left img {
    height: 80%;
  }
  .section__main--right img {
    width: 100%;
  }

.capitulos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 40px;
    padding: 20px;
  }
.capitulo {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
  }
  .capitulo img {
    width: 100%;
    display: block;
  }
  .sinopsis {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .titulo {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .capitulo:hover .sinopsis {
    opacity: 1;
  }
  .capitulo:hover .titulo {
    opacity: 1;
  }

  /* seccion menu miniaturas  */
  .container__capitulos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 40px;
    padding: 20px;
  }
  .capitulo__item-menu {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
  }

  .capitulo__item-menu a img {
    width: 100%;
    display: block;
  }
/* fin seccion menu miniauturas */


/* pagina de capitulo */
/* fin pagina de capitulo */




/* footer */

  .footer {
    background-color: #fff;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer__banner--container {
    background-color: #fff;
    margin-top: 10px;
    height: 10%;
    /* position: absolute; */
    bottom: 0;
  }
  .footer__banner--link .footer__banner {
    width: 100vw;
  }

  /* @media screen and (min-width: 769px)  {
    .capitulos {
      grid-template-columns: repeat(5, 1fr);
    }
    .section__main--left,
    .section__main--right {
      width: 20%;
    }
  } */

  @media screen and (min-width: 426px) and (max-width: 768px) {
    .capitulos {
      grid-template-columns: repeat(3, 1fr);
    }
    .section__main--left,
    .section__main--right {
      width: 15%;
    }
  }

  @media screen and (max-width: 425px) {
    .capitulos {
      grid-template-columns: 1fr;
      padding-top: 20px;
    }

    /* contenido extra */
    .pagina-de-capitulo{
      flex-direction: column;
    }
    .contenido-capitulo-ad {
      flex-direction: column;
      text-align: justify;
      padding: 25px;
    }
    .miniatura-ad {
      width: 100%;
    }

    .section__main {
      display: block;
      max-height: 0;
    }
    /* laterales */
    .section__main--left,
    .section__main--right {
      display: none;
    }
    .container_info--capitulo,
    .container_video--capitulo {
      width: 100vw;
    }

    .footer__banner--container {
      position: fixed;
      margin-top: 15px;
    }
    .footer__banner--link .footer__banner {
      position: fixed;
    }
    .container_info--capitulo{
      margin-bottom: 50px;
      padding-left: 20%;
      padding-right: 20%;
    }
  }
